[Unit]
Description=Update Decision Lab Duck DNS address
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/decision-lab-update-dns
